@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import "foundation";
@import "settings/settings";

$global-width: rem-calc(1070);
$body-font-family: 'Montserrat', sans-serif;
$header-font-family: $body-font-family;
$font-family-monospace: 'Montserrat', sans-serif;

@include foundation-everything;

$csl-red: #e4151c;
$csl-light-grey: #eae6e2;
$csl-grey: #aaa;

@mixin flexbox() {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
}

body {
  background: #fff;
  &.mobile {
    height: 100vh;
    overflow: hidden;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.chevron::before {
  color: $csl-red;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: inline-block;
  height: 15px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 14px;
  top: 3px;
}

.chevron.thick::before {
  border-width: 5px 5px 0 0;
  height: 18px;
  width: 18px;
}

.chevron.white::before {
  color: white;
  position: fixed;
  top: 25px;
}

.chevron.white.up::before {
  color: white;
  position: fixed;
  top: 25px;
  left: 10px;
  transform: rotate(314deg);
}

.chevron.white.down::before {
  color: white;
  position: fixed;
  top: 20px;
  left: 60px;
  transform: rotate(133deg);
}

.chevron.left:before {
  transform: rotate(-135deg);
}

.chevron.right:before {
  transform: rotate(45deg);
}

.cream {
  background-color: #f7f6f2;
}


.edit-message {
  text-align: right;
  textarea {
    border: 1px solid $csl-grey;
    box-shadow: none;
    outline: none;
    //background: transparent;
    width: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 30px 0;
    padding: 10px 15px;
    height: 175px;
    resize: none;
    border: none;
    margin: 0;
  }
  button {
    margin: 1em;
    font-weight: 700;
  }
}


.moderation {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding-top: 105px;
  padding-bottom: 20px;
  nav {
    height: 80px;
    background:#fff;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:0 10%;
    @include flexbox();
    justify-content: space-between;
    overflow: visible;
    z-index: 99999;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    #faces-logo{
      width: auto;
      height: 60%;
      top: 50%;
      transform:translate(0,-50%);
      left: 10%;
    }
    #csl-logo{
      width: 10%;
      top:0;
      right: 10%;
    }
    img {
      display: block;
      position: absolute;
    }
  }

  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  .csl-logo {
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 6;
    width: 200px;
  }
  header {
    background: url('./images/red-top.svg') no-repeat center bottom;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 180px;
  }
  .contents {
    margin: 1em;
    .delegate-list {
      //max-height: 695px;
      //overflow: auto;
    }
    .create-delegate {
      margin-top: 1em;
      h3 {
        i {
          &.arrow-down, &.arrow-right {
            position: relative;
            left: 8px;
            display: inline-block;
            width: 0;
            height: 0;
          }
          &.arrow-down {
            top: -4px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid $dark-gray;
          }
          &.arrow-right {
            top: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid $dark-gray;
          }
        }
      }
    }
    form {
      width: 90%;
      margin: 0 auto;
      select {
        width: 10em;
      }
      input[type='file'] {
        width: 250px;
      }
    }
    button, .button-group {
      margin-bottom: 0;
    }
    table {
      width: 90%;
      margin: 0 auto;
      td {
        height: 90px;
        word-wrap: break-word;
        img {
          width: 60px;
        }
      }
      thead {
        border: none;
      }
      tbody {
        border: none;
      }
      tr {
        background: white;
        border-bottom: 1px solid #d1d1d1;
      }
      table-layout:fixed;
      small {
        font-weight: normal;
      }
      td.actions-column {
        width: 250px;
        min-width: 250px;
      }
      td.status {
        width: 110px;
        min-width: 110px;
      }
    }
    .approved, .rejected, .pending, button, .button {
      //text-transform: uppercase;
      font-weight: 700;
      color: white;
    }

    .delegate {
      form {
        button {
          margin-right: 1px;
        }
      }
      .approved, .rejected, .pending {
        padding: .5em 1em;
        font-size: 0.75rem;
      }
      .approved {
        border: 1px solid #3adb76;
        color: darken(#3adb76, 15%);
        background: lighten(#3adb76, 35%);
      }
      .rejected {
        border: 1px solid #cc4b37;
        color: darken(#cc4b37, 15%);
        background: lighten(#cc4b37, 40%);
      }
      .pending {
        border: 1px solid #ffae00;
        color: darken(#ffae00, 15%);
        background: lighten(#ffae00, 40%);
      }
      .name {
        padding-left: 80px;
        position: relative;
        img {
          border: 1px solid #d1d1d1;
          position: absolute;
          left: 10px;
          top: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .job-code-container {
    text-align: center;
    margin-top: 1em;
    .job-code {
      font-size: 12px;
      color: #0a0a0a;
      padding: 1em;
    }
  }
}

.modal {
  position: fixed;
  background: rgba(black, .8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  .background {
    background: white;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 7px rgba(white, .2);
    .contents {
      span {
        display: block;
        padding: 1em;
        font-size: 20px;
      }
      img {
        padding: 1em;
      }
      .error, .info {
        padding: 1em;
      }
      .info {
        h3 {
          color: $success-color;
        }
      }
      .error {
        h3 {
          color: $csl-red;
        }
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.auto-gallery {
  .job-code {
    font-size: 8px;
    color: #0a0a0a;
    position: fixed;
    transform: rotate(-90deg);
    right: -80px;
    bottom: 110px;
  }
  .welcome {
    transition:0s;
    background: #F7F6F2;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 1;
    .contents {
      width: 70%;
      margin: 0 auto;
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .faces-logo {
        display: block;
        //width: 740px;
        margin: 0 auto 60px;
      }
      p {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
      }
      .border-content {
        padding: 30px;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
      }
    }
  }
}

.photobooth {

  &.welcome, &.thanks, &.tip, &.consent, &.camera {
    h1, a.cta-bottom, button {
      font-weight: bold;
    }
    h1, h2, p {
      text-align: center;
      &.red {
        color: $csl-red;
      }
    }
    .csl-logo {
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translate(-50%,0);
      z-index: 6;
    }
    header{
      background: url('./images/red-top.svg') no-repeat center bottom;
      background-size: cover;
      width: 100%;
      position: relative;
    }
    .contents {
      display: block;
      .faces-logo {
        display: block;
      }
    }
  }

  &.tip, &.consent {
    form {
      width: 100%;
      textarea, input, select {
        border: 1px solid $csl-grey;
        box-shadow: none;
        outline: none;
        //background: transparent;
        width: 100%;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin: 0 0 30px 0;
      }
      textarea, input {
        padding: 10px 15px;
      }
      select {
        height: 40px;
        padding: 4px 15px;
        -webkit-appearance: menulist;
        padding-right: 28px;
        background-color: #fefefe;
      }
    }
    footer {
      .cta-bottom {
        &.disabled {
          pointer-events: none;
          cursor: default;
          color: $csl-light-grey;
          border-color: $csl-light-grey;
        }
      }
    }
  }

.photobooth.tip footer .cta-bottom.disabled {
      border: 1px solid #e4151c;
    color: #e4151c;
    cursor: pointer;
    pointer-events: initial;
  }

  &.consent {
    .bold {
      font-weight: bold;
    }
    h1 {
      font-size: 28px;
      margin:0 0 20px 0;
      line-height: 34px;
    }
    h2 {
      margin:0;
      font-size: 18px;
      font-weight: normal;
      line-height: 22px;
    }
    form {
      p.required {
        color: $csl-grey;
        font-size: 12px;
        text-align: left;
      }
      h3 {
        text-align: left;
        font-size: 12px;
        margin: 30px 0;
      }
      label {
        position: relative;
        padding: 5px 20px 0 35px;
        cursor: pointer;
        width: 100%;
        display: block;
        font-size: 11px;
        line-height: 1.25em;
      }
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 18px;
        width: 18px;
        background: #fff;
        border: 1px solid $csl-red;
        border-radius: 50%;
        &:after {
          content: "";
          position: absolute;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          left: 2px;
          top: 2px;
        }
      }
      input[type="checkbox"]:checked ~ .checkmark:after {
        display: block;
        background: $csl-red;
      }
    }
    .contents {
      padding: 0 120px;
      .faces-logo {
        width: 190px;
        margin: 20px auto 40px auto;
      }
    }
    footer {
      .cta-bottom {
        top: 0;
      }
    }
  }

  &.tip {
    h1 {
      font-size: 28px;
      margin: 0 0 20px 0;
      line-height: 34px;
    }
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: normal;
      line-height: 22px;
    }
    p {
      &.terms {
        font-size: 14px;
        text-align: left;
        font-weight: bold;
        color: $csl-grey;
      }
    }
    form {
      textarea {
        height: 300px;
        margin-top: 40px;
      }
    }
    .contents {
      padding: 0 120px;
      .faces-logo {
        width: 190px;
        margin: 20px auto 40px auto;
      }
    }
    footer {
      .cta-bottom {
        top: -300px;
      }
      .skip {
        margin: 0 auto;
        width: 20px;
        bottom: 180px;
        position: relative;
      }
    }
  }

  &.thanks {
    h1 {
      font-size: 30px;
      margin: 75px 0 20px 0;
    }
    p {
      margin:0 0 30px 0;
      &.terms {
        position: fixed;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
        font-size: 12px;
      }
    }
    .contents {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform:translate(0,-50%);
      padding: 0 120px;
      .faces-logo {
        width: 300px;
        margin: 0px auto 40px auto;
      }
    }
  }

  &.tip, &.welcome, &.consent {
    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 140px;
      .cta-bottom {
        @include flexbox();
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 220px;
        border:1px solid $csl-red;
        height: 70px;
        text-align: center;
        color: $csl-red;
        font-size: 21px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        text-decoration: none;
      }
    }
  }

  &.welcome {
    .csl-logo {
      width: 350px;
    }
    header {
      height: 315px;
    }
    .contents {
      padding:0 115px;
      .faces-logo {
        width: 440px;
        margin: 60px auto;
      }
      h1 {
        font-size: 40px;
        margin:0 0 40px 0;
      }
      .border-content {
        padding:30px;
        border-top:1px solid #707070;
        border-bottom:1px solid #707070;
      }
      p {
        font-size: 18px;
      }
    }
    footer {
      height: 180px;
      .skip {
        margin: 0 auto;
        width: 20px;
        top: 110px;
        position: relative;
      }
      .cta-bottom {
        top: 0px;
      }
    }
  }

  &.thanks, &.tip, &.consent, &.camera {
    .csl-logo {
      width: 200px;
    }
    header {
      height: 180px;
    }
  }

  &.camera {
    header{
      background: none;
    }
    .retake, .use {
      position: fixed;
      align-content: center;
      width: 220px;
      color: white;
      border:1px solid white;
      height: 70px;
      text-align: center;
      font-size: 21px;
      bottom: 10px;
      text-decoration: none;
      z-index: 4;
      bottom: 85px;
      span {
        &.chevron.left:before {
          transform: rotate(-135deg);
          left: 0;
        }
        &.chevron.right:before {
          transform: rotate(45deg);
          left: 130px;
        }
      }
    }
    .retake {
      left: 125px;
    }
    .use {
      right: 125px;
      span {
        position: relative;
        left: -10px;
      }
    }
    video {
      background: lightgrey;
    }
    .attempts {
      position: fixed;
      bottom: 50px;
      left: 178px;
      color: white;
      z-index: 2;
    }
    .video-stream {
      height:100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .photo-capture {
      height:100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .portrait-guide {
      text-align: center;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background: url('./images/photo-bg.png') no-repeat center center;
      background-size: cover;
    }
    .instructions, .counter {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
      font-weight: 600;
      z-index: 3;
    }
    .instructions {
      font-size: 40px;
      width: 665px;
    }
    .counter {
      font-size: 22vw;
    }
  }
}
.touch-gallery * {
    cursor: none !important;
    user-select: none;
}
.touch-gallery {
  nav {
    height: 8%;
    background:#fff;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:0 10%;
    @include flexbox();
    justify-content: space-between;
    overflow: visible;
    z-index: 99999;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    #faces-logo{
      width: auto;
      height: 60%;
      top: 50%;
      transform:translate(0,-50%);
      left: 10%;
    }
    #csl-logo{
      width: 10%;
      top:0;
      right: 10%;
    }
    img {
      display: block;
      position: absolute;
    }
  }
  footer {
    height: 55px;
    @include flexbox();
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding:0 10%;
    p {
      margin:0;
      font-size: 1vh;
      font-weight: bold;
      .job-code {
        display: block;
        font-weight: 300;
        text-align: right;
      }
    }
  }
  .buttonslider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 85px;
    transform:translate(-50%,0%);
    height: 57px;
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    align-content: center;
    div {
      width:33px;
      padding-bottom:33px;
      background:$csl-red;
      cursor: pointer;
      &.disabled {
        background:#ccc;
        pointer-events: none;
        cursor: default;
      }
    }
  }
  .gallery {
    background: #F7F6F2;
    height: 100vh;
    overflow: hidden;
    .gallery-container {
      height: 100vh;
    }
    .gallery-grid {
      // ?? transition:1s;
      // ?? transform:translate3d(0,100vh,0);
      height: 87%;
      position: absolute;
      top: 8%;
      left: 0;
      width: 100%;
      // height: 92%;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 20px;
      .delegate {
        color: #fff;
        @include flexbox();
        justify-content: center;
        align-items: center;
        font-size: 2.5vh;
        position: relative;
        z-index: 1;
        //transition:filter .5s;
        .container {
          position: absolute;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          transition: .5s .5s;
          &::after { // red overlay
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($csl-red, .8);
            opacity: 0;
            z-index: -1;
            transition: .5s;
          }
          a.photograph {
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition: .5s;
          }
        }
        .tip {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          z-index: 2;
          @include flexbox();
          justify-content: center;
          align-items: center;
          padding: 5%;
          box-sizing: border-box;
          transition: .5s;
          p {
            text-align: center;
            margin: 0;
            font-size: 1.1vw;
            font-weight: bold;
          }
        }
        .close {
          text-indent: -9999px;
          width: 3%;
          height: 3%;
          position: absolute;
          bottom: 5%;
          left: 50%;
          margin-left: -1.5%;
          background: url(./images/close.svg) no-repeat center;
          background-size: contain;
          box-shadow: none;
          cursor: pointer;
          z-index: 2;
          visibility: hidden;
          opacity: 0;
          transition: .5s;
        }
        &.showing-tip {
          .tip {
            visibility: visible;
            opacity: 1;
            z-index: 2;
            transition: .5s .75s;
          }
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(12){
            .container {
              width:calc(200% + 20px);
              height:calc(200% + 20px);
              transition: .5s;
            }
          }
          .container {
              //width:calc(200% + 20px);
              //height:calc(200% + 20px);
            //transition:0.5s;
            a.photograph {
              filter: grayscale(100%) contrast(150%);
            }
            &::after { // red overlay
              opacity: 1;
              z-index: 1;
            }
          }
          .close {
            visibility: visible;
            opacity: 1;
            transition: .5s .75s;
          }

        }

      }
      .delegate {
        &:nth-child(1){
          grid-column: 1 / 1;
          grid-row: 1 / 1;
          .container {
            top:0;
            left:0;
          }
        }
        &:nth-child(2){
          grid-column: 1 / 1;
          grid-row: 2 / 2;
          .container {
            top:0;
            left:0;
          }
        }
        &:nth-child(3){
          grid-column: 1 / 1;
          grid-row: 3 / 3;
          .container {
            bottom:0;
            left:0;
          }
        }
        &:nth-child(4){
          grid-column: 2 / 4;
          grid-row: 1 / 3;
          .container {
            top:0;
            left:0;
          }
          &.showing-tip {
            .container {
              width:100%;
              height:100%;
            }
          }
        }
        &:nth-child(5){
          grid-column: 2 / 2;
          grid-row: 3 / 3;
          .container {
            bottom:0;
            left:0;
          }
        }
        &:nth-child(6){
          grid-column: 3 / 3;
          grid-row: 3 / 3;
          .container {
            bottom:0;
            left:0;
          }
        }
        &:nth-child(7){
          grid-column: 4 / 4;
          grid-row: 1 / 1;
          .container {
            top:0;
            right:0;
          }
        }
        &:nth-child(8){
          grid-column: 4 / 4;
          grid-row: 2 / 2;
          .container {
            top:0;
            right:0;
          }
        }
        &:nth-child(9){
          grid-column: 4 / 4;
          grid-row: 3 / 3;
          .container {
            bottom:0;
            right:0;
          }
        }
        &:nth-child(10){
          grid-column: 5 / 5;
          grid-row: 1 / 1;
          .container {
            top:0;
            right:0;
          }
        }
        &:nth-child(11){
          grid-column: 5 / 7;
          grid-row: 2 / 4;
          .container {
            bottom:0;
            right:0;
          }
          &.showing-tip {
            .container {
              width:100%;
              height:100%;
            }
          }
        }
        &:nth-child(12){
          grid-column: 6 / 6;
          grid-row: 1 / 1;
          .container {
            top:0;
            right:0;
          }
        }
      }
    }
  }
}

.gallery-grid {
  .no-filter {
    filter: opacity(100%) blur(0px);
  }
  .filter {
    transition: .5s;
    filter: opacity(25%) blur(3px);
  }
}

.auto-grid {
  .no-filter {
    //transition: .5s;
    filter: none;
  }
  .filter {
    transition: .5s;
    filter: opacity(25%) blur(3px);
  }
}

.auto-grid {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  top: 0;
  height: 100%;
  grid-gap: 0;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  .delegate {
    color: #fff;
    @include flexbox();
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    position: relative;
    z-index: 0;
    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      &::after { // red overlay
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($csl-red,.8);
        opacity: 0;
        transition: .5s;
      }
      .photograph {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: .5s all, background-image .5s .75s;
      }
    }
    .tip {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity: 0;
      z-index: 1;
      @include flexbox();
      justify-content: center;
      align-items: center;
      padding: 5%;
      box-sizing: border-box;
      transition:0s;
      p {
        text-align: center;
        margin: 0;
        font-size: 1.7vw;
        font-weight: bold;
      }
    }
    &:nth-child(1){
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      .container {
        top:0;
        left:0;
      }
    }
    &:nth-child(2){
      grid-column: 4 / 6;
      grid-row: 2 / 4;
      .container {
        top:0;
        left:0;
      }
    }
    &.showing-tip {
      .tip {
        opacity: 1;
        z-index: 1;
        transition: .5s .75s;
        p {
          transition: 0.5s 1s;
        }
      }
      .container {
        width: 100%;
        height: 100%;
        .photograph {
          filter: grayscale(100%) contrast(150%);
          transition: .5s;
        }
        &::after {  // red overlay
          opacity: 1;
          z-index: 0;
        }
      }
    }
  }
}


/************
			red section
						***************/
.sidepanel {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 136px;
  background:#E30613;
}

.redcontainer {
  img, svg {
    width: 81%;
    display: block;
    margin: 0 auto;
  }
}

#logo-redside {
  margin: 9vh auto 0 auto;
}

#faces-redlogo,#takephoto-svg {
  position: absolute;
  top: 31vh;
  left: 50%;
  transform:translate(-50%,0);
}


#takephoto-svg {
  .st0{fill:#FFFFFF;}
  opacity: 0;
  transition:2s;
  transition-delay:0s;
  &.actv {
    opacity: 1;
    transition-delay:2s;
    g {
      opacity: 0;
      $elements: 12;
      @for $i from 1 to $elements {
        &:nth-child(#{$i}) {
          animation: fadein 1s #{$i+1}s forwards;
        }
      }
    }
  }

}

@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}


#faces-redlogo {
  opacity: 0;
  transition:2s;
  transition-delay:0s;
  &.actv {
    opacity: 1;
    transition-delay:2s;
  }

}

@media screen and (max-width: 1366px) {
  .moderation {
    width: 100%;
  }
  tbody td, tbody th {
    font-size: 12px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {

  .auto-gallery .welcome .contents {
    max-width: 685px;
  }
  .auto-gallery .welcome .contents p {
    font-size: 22px;
  }
  .auto-grid .delegate .tip p {
    font-size: 1.6vw;
  }

}